* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 20px;
    background-color: green;
  }
  .container{
    display: flex;
    width: 750px;
    margin: 0 auto;
    margin-top: 50px;
    margin-left: 464px;
  }
  span{
    font-size: 50px;
    margin-left: 620px;
    /* display: block; */
    text-align: center;
  }
.add , .delete{
    width: fit-content;
    text-align: center;
    border-width: 5px;
    border-color: black;
    border-style: solid;
    margin-top: 5px;
    margin-left: 5px;
}
  .wrapper{
    position: relative;
    margin-top: 4px;
    margin-left: 5px;
    margin-bottom: 5px;
  }

  .icon{
    position: absolute; 			
    left: 3px;
    top: 2px;
  }

  .input{
    padding-left: 30px;

  }

  .btn{
    margin-right: 5px;
  }


  .screen{
    text-align: center;
    width: 40%;
    height: 300px;
    margin: 50px auto;
    border-width: 5px;
    border-color: black;
    border-style: solid;

  }

  a{
    text-decoration: none;
    color: white;
  }
  ::placeholder{
    color: white;
  }